@media (min-width: 768px) {
    #navbar-collapse{
        display:none!important
    }
}
body{
    font-family: 'Oxygen', sans-serif;
    color: #0c0c0c;
    font-weight: bold;
}
#header-nav {
    background-color: #9f9f9d;
}
.navbar-brand h1 { 
    color: #0c0c0c;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  
#navbar-collapse, .divider{
    background-color: white;
    border: 1px solid black;
}

.section-content{
    background-color: #9f9f9d;
    padding: 0 10px 0;
}
