/* Simple Responsive Framework. */
.row {
    width: 100%;
  }
  

@media (min-width: 992px) {
.col-lg-4, .col-lg-12 {
    float: left;
}

.col-lg-4 {
    width: 33.33%;
}

.col-lg-12 {
    width: 100%;
}
}


@media (min-width: 768px) and (max-width: 991px) {
.col-md-6, .col-md-12 {
    float: left;
}

.col-md-6 {
    width: 50%;
}

.col-md-12 {
    width: 100%;
}
}

@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
        float: left;
    }

    .menu-head {
        display: none;
    }
    .menu-head-mobile{
        margin:30px 0px 10px 10px;
        font-size: 30px;
        font-family: fantasy
    }
}

@media (min-width: 768px) {
    .menu-head-mobile{
        display: none;
    }
}

* {
    box-sizing: border-box;
}

.menu-head {
    margin: 30px;
    font-size: 40px;
    text-align: center;
}


.section {
    border: 1px solid black;
    margin: 10px;
    background-color: rgb(191, 184, 184);
    height: 150px;
    overflow: hidden;
}

.section:hover {
    overflow: scroll;
    cursor: row-resize;
}

.title {
    text-align: center;
    border: 1px solid black;
    padding: 3px 15px 3px;
    font-size: 20px;
}

.chicken {
    background-color: rgb(235, 157, 157);
}

.beef{
    background-color: rgb(222, 46, 46);
    color: white
    
}
.sushi{
    background-color: wheat;
}

.description {
    padding: 20px 15px 10px;
}